[submodule "Axiom/vendor/GLFW"]
	path = Axiom/vendor/GLFW
	url = https://github.com/BussaBler/glfw.git
[submodule "Axiom/vendor/VulkanSDK/Vulkan-Headers"]
	path = Axiom/vendor/VulkanSDK/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
